# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
# added webhook

language: r
sudo: required
cache: packages

matrix:
  include:
   - r: release
   - r: devel

before_install:  
  - R -q -e 'install.packages("devtools"); devtools::install_github("richfitz/datastorr.example")'

warnings_are_errors: true